* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    cursor: default;
}

body {
    background-color: #8a51fc;
}

.logo {
    display: block;
    margin: 1.25rem auto;
    width: 18.75rem;
}

.principal {
    width: 23.438rem;
    background-color: #f4f4f4;
    border-radius: 1.25rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
    margin: 0 auto 5rem;
    padding: 2.75rem 1.5rem 1.438rem;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 0.875rem;
}

select, input{
    background: #fff;
    border: 1px solid #bbbbbb;
    border-radius: 0.25rem;
    height: 3rem;
    width: 100%;
    margin-bottom: 1.5rem;
    appearance: none;
    padding-left: 1.125rem;
    font-weight: 700;
    font-size: 1rem;
    color: #555555;
    cursor: pointer;
}

input {
    box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}

button {
    background-color: #772fd3;
    border: none;
    border-radius: 0.313rem;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    height: 3rem;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(1.02);
}

section {
    border: 1px solid #772fd3;
    border-radius: 1.25rem;
    margin-top: 2.25rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.arrow { 
    margin: 1rem;
}

.currency {
    font-size: 0.875rem;
    color: #777777;
}

.currency-value {
    font-size: 1.25rem;
    font-weight: 700;
    color: #555555;
}